h1 {
  text-align: center;
  color: #33FF66;
  padding: 50px 0px 0px 0px;
  font-size: 40pt;
}


h2 {
  text-align: center;
  color: #33FF66;
  padding: 0px 0px 50px 0px;
  font-size: 20pt;
}




body {
  background-color: #F5FAFA;
}



.statement {
  text-align: center;
  color: black;
  font-size: 20pt;
  font-family: Roboto;
  font-weight: bold;
  padding: 0px 450px 0px 450px;
  background-color: #33FF66;
}



.info {
  padding: 0px 400px 0px 400px;
  font-size: 10pt;
  font-family: Roboto;
}



.math {
  padding: 40px 500px 0px 500px;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14pt;
}

_____Calculator_____

h3{
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}
h4{
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}
.row{
  margin: 70px;
  font-family: verdana;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 10px 10px 10px;
  margin-left: 25%;
  margin-right: 25%;
  background:  lightgreen;
  padding: 25px;
  justify-content: space-evenly;
}

.stat{
  float: left;
  margin: 20px;
  align: center;
}
.container-2{
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

_____Calculator_end_____
