.welcome {
  color: white;
  font-size: 25px;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  margin: 130px 100px 150px 190px;
}

body {background-color: black;
}

body, html {
    height: 100%;}

.bg {background-image: url("https://images.unsplash.com/photo-1484557985045-edf25e08da73?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5f9b3de26b8a518a94c0fc1ba6aa31a&auto=format&fit=crop&w=1567&q=80");

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headline {
    position: absolute;
    top: 20%;
    left: 40%;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  margin: 0px 0px 30px 280px; 
}

.subheadline {
    position: absolute;
    top: 30%;
    left: 40%;
  color: white;
  font-size: 30px;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  margin: 0px 0px 30px 280px; 
}

img {
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%);

}

.mediumtitle {
  color: white;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  margin: 50px 80px 20px 118px;
}

.text {
  color: white;
  font-size: 20px;
  font-family: "Lato";
  border: black 0px dotted;
  margin: 0px 80px 50px 100px;
  padding: 20px;
  line-height: 20px;
}

.icon {
  font-family: "Lato";
  margin: 0px 100px 50px 100px;
}

.boxed {
  margin: 0px 0px 0px 0px;
  padding: 5px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  text-align: center;
}

.container {
  background-color: black;
  font-color: black;
}

.transparency {
  opacity: 0.5;
}

.background {
  background-color: black;
  margin: 30px 0px 0px 20px;
}

.caption {
  text-color: rgb(255,255,255)
}

.statement {
  text-align: left;
  color: white;
  font-size: 20pt;
  border: white 1px dotted;
  padding: 60px;
  font-family: "Lato";
  font-weight: normal;
  padding: 40px 50px 15px 850px;
  background-color: black;
}


.floaty {
  float: center;
  padding: 0px 0px 0px 0px;
}


.info {
  padding: 75px 500px 30px 200px;
  font-size: 15pt;
  color: white;
  font-family: "Lato";
}

.cow {
  padding: 5px 0px 30px 1200px;
}

.math {
  padding: 40px 500px 0px 500px;
  text-align: center;
  color: white;
  font-family: "Lato";
  font-weight: bold;
  font-size: 14pt;
}

_____Calculator_____

h3{
  text-align: right;
  margin: 400px 500px 20px 500px;
  color: white;
  font-family: "Lato";
  font-size: 20px;
}
h4{
  text-align: center;
  color: white;
  font-family: "Lato";
  font-size: 30px;
}
.row{
  margin: 30px;
  color: white;
  font-size: 18px;
  font-family: "Lato";
  text-align: center;
}
.grid-container {
  display: grid;
  color: white;
  grid-template-columns: 5px 10px 10px;
  margin-left: 25%;
  margin-right: 25%;
  background:  black;
  padding: 15px;
  justify-content: space-evenly;
}

.stat{
  float: left;
  color: white;
  margin: 45px 45px 205px 45px;
  align: center;
}
.container-2{
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  align: center;
}

_____Calculator_end_____
